# Spotify API
SPOTIPY_CLIENT_ID=your_client_id
SPOTIPY_CLIENT_SECRET=your_client_secret
SPOTIPY_REDIRECT_URI=http://127.0.0.1:8000/callback

# MySQL (AWS RDS)
MYSQL_HOST=your_host
MYSQL_USER=your_user
MYSQL_PASSWORD=your_password
MYSQL_DATABASE=your_database

# App
SECRET_KEY=change_this_to_a_random_string
FRONTEND_URL=http://127.0.0.1:5173
PORT=8000
